@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.nav-link {
  position: relative;
  display: inline-block;
  color: #808080; /* Initial gray color */
  text-decoration: none;
  transition: color 0.25s ease-out;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #086D8A; /* Adjust thickness using border */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}